* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    max-width: 400px;
    margin: 10vh auto 0 auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 7px rgba(153, 153, 153, 0.3);
}

#display {
    text-align: center;
    height: 60px;
    line-height: 30px;
    padding: 16px 8px;
    font-size: 25px;
    background-color: purple;
    color: white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#displayTotal {
    background-color: purple;
    text-align: center;
    height: 60px;
    line-height: 30px;
    padding: 16px 8px;
    font-size: 25px;
    color: white;
}

.buttons {

    display: grid;
    border-bottom: 1.7px solid purple;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-radius: 9px;
}

.buttons>div {
    border-top: 1.7px solid purple;
    border-right: 1.7px solid purple;
}

.button {
    line-height: 50px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: #fff;
    background-color: rgba(128, 0, 128, 0.46);
}

#equal {
    background-color: orange;
    color: white;
}
.orange{
    background-color: orange;

}
.button:hover {
   opacity: .6;
   color: whitesmoke;
}
